header {
    margin: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
     background-color: darkblue;
}

.title {
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 5px gold;
    border-radius: 15px;
    color: yellow;
}

.subtitle {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: yellow
}

.subtitle.strong {
    color: yellow;
}

